version: "3.8"
name: 'product-db'
services:
  product-db:
    image: postgres:16-alpine
    container_name: product-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=product-db
    ports:
      - "25432:5432"
    healthcheck:
      test: ["CMD-SHELL" , "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m