version: "3.8"
name: 'user-db'
services:
  user-db:
    image: postgres:16-alpine
    container_name: user-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=user-db
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL" , "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 500m
    #volumes:
      #- db-data:/var/lib/postgresql/data